# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# npm
.npm
.eslintcache
.stylelintcache

# Build outputs
dist/
build/
build-output/
out/

# Vercel
.vercel/

# Environment variables
.env
.env.test
.env.local
.env.production
.env.*.local
backend/.env

# Cache
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/

# Framework outputs
.next
.nuxt
.vuepress/dist
.serverless/

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.tgz
.node_repl_history
.yarn-integrity
.tern-port
scratch/
